In [11]:
import pandas as pd
%run ../country-comparison/compare.py

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [2]:
df = pd.read_csv('../data/result/numbeo_gdp_homi.csv')

In [3]:
df.head(2)

,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,country,gdp_ppp,homicide_rate
0,188.36,102.77,78.38,74.08,125.02,8.18,28.67,19.86,80.05,Switzerland,78111.508,0.6
1,186.25,86.43,73.78,79.79,88.53,7.00,28.69,21.29,81.80,Denmark,63404.856,1.0

In [10]:
df['homi_score'] = default_minmax_scaling(df['homicide_rate'].values.reshape((-1, 1)))

In [15]:
df[['country', 'homi_score']].sort_values(by='homi_score')

                     country  homi_score
31                 Singapore    0.000000
15                     Japan    0.002762
13                      Oman    0.002762
9                 Luxembourg    0.002762
73                 Indonesia    0.005525
26                     Qatar    0.005525
23      United Arab Emirates    0.008287
63                     China    0.008287
14                  Slovenia    0.008287
10                    Norway    0.008287
20            Czech Republic    0.011050
17                     Spain    0.011050
0                Switzerland    0.011050
36                     Italy    0.011050
44                     Korea    0.011050
2                Netherlands    0.011050
24                   Croatia    0.011050
8                New Zealand    0.013812
42                    Poland    0.013812
71             Hong Kong SAR    0.013812
19                  Portugal    0.016575
35  Taiwan Province of China    0.016575
27                   Ireland    0.019337
41                    Greece    0.019337
4                  Australia    0.019337
5                    Iceland    0.019337
7                    Germany    0.019337
1                    Denmark    0.022099
6                    Austria    0.022099
29           Slovak Republic    0.024862
12                    Sweden    0.024862
22            United Kingdom    0.027624
57           North Macedonia    0.027624
46    Bosnia and Herzegovina    0.027624
50                    Serbia    0.027624
25                    France    0.027624
33              Saudi Arabia    0.030387
32                    Cyprus    0.030387
39                   Romania    0.030387
43                  Bulgaria    0.030387
60                   Morocco    0.033149
55                    Jordan    0.033149
74                   Vietnam    0.035912
34                    Israel    0.035912
3                    Finland    0.038674
28                   Belgium    0.041436
54                    Kuwait    0.044199
21                    Canada    0.044199
53                  Malaysia    0.052486
11                   Estonia    0.052486
51                   Georgia    0.055249
67                Azerbaijan    0.055249
79                 Sri Lanka    0.060773
80                Bangladesh    0.060773
59                   Belarus    0.060773
81                      Iran    0.063536
37                   Hungary    0.063536
75                     Egypt    0.066298
68                  Thailand    0.066298
45                    Turkey    0.066298
64                     India    0.080110
65                  Pakistan    0.102210
30                    Latvia    0.116022
70                     Chile    0.116022
18                 Lithuania    0.121547
78                     Kenya    0.129834
16             United States    0.132597
72                Kazakhstan    0.135359
62                 Argentina    0.140884
52                   Ecuador    0.154696
58                   Ukraine    0.165746
77               Philippines    0.174033
76                      Peru    0.212707
69        Russian Federation    0.220994
56                    Panama    0.254144
48                Costa Rica    0.306630
47                   Uruguay    0.328729
40               Puerto Rico    0.577348
66                  Colombia    0.693370
61                    Brazil    0.751381
49                    Mexico    0.798343
82                   Nigeria    0.947514
38              South Africa    1.000000