In [9]:
import pandas as pd

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [14]:
df = pd.read_csv('../data/result/final_standings.csv')

In [15]:
df.sort_values(by='final_score', ascending=False)

                     country  unscaled_score  final_score
0                Switzerland      195.196011   100.000000
1                    Denmark      191.647994    98.907227
9                 Luxembourg      181.987032    95.931694
26                     Qatar      179.129728    95.051656
2                Netherlands      171.084361    92.573719
6                    Austria      160.978154    89.461053
7                    Germany      160.043301    89.173122
10                    Norway      158.985998    88.847478
23      United Arab Emirates      158.393210    88.664902
17                     Spain      157.060543    88.254446
4                  Australia      153.683045    87.214192
5                    Iceland      147.118353    85.192296
31                 Singapore      144.020247    84.238093
15                     Japan      142.789661    83.859078
3                    Finland      142.483164    83.764679
13                      Oman      140.888363    83.273487
8                New Zealand      140.651752    83.200612
22            United Kingdom      136.668535    81.973799
34                    Israel      135.975249    81.760270
20            Czech Republic      131.073811    80.250649
19                  Portugal      130.119759    79.956805
25                    France      129.168957    79.663962
11                   Estonia      127.400852    79.119394
12                    Sweden      122.998862    77.763601
33              Saudi Arabia      118.827441    76.478821
27                   Ireland      118.202110    76.286222
32                    Cyprus      116.419735    75.737259
21                    Canada      116.155969    75.656020
36                     Italy      112.926991    74.661509
16             United States      110.577988    73.938027
14                  Slovenia      109.415328    73.579933
35  Taiwan Province of China      107.107698    72.869193
28                   Belgium      104.135020    71.953621
24                   Croatia      100.883603    70.952200
45                    Turkey       93.820344    68.776748
29           Slovak Republic       91.134854    67.949628
54                    Kuwait       79.489656    64.362960
41                    Greece       78.567482    64.078934
39                   Romania       74.208974    62.736533
18                 Lithuania       72.820693    62.308949
44                     Korea       70.677949    61.648993
55                    Jordan       69.370264    61.246232
42                    Poland       67.417290    60.644725
43                  Bulgaria       67.225042    60.585513
71             Hong Kong SAR       64.345087    59.698500
63                     China       61.560170    58.840758
53                  Malaysia       60.965331    58.657550
30                    Latvia       53.004803    56.205743
68                  Thailand       52.374039    56.011471
37                   Hungary       52.230114    55.967142
46    Bosnia and Herzegovina       46.626663    54.241305
51                   Georgia       46.619003    54.238945
56                    Panama       46.340998    54.153321
50                    Serbia       42.307944    52.911158
57           North Macedonia       41.589333    52.689830
52                   Ecuador       37.584671    51.456412
73                 Indonesia       29.507340    48.968629
70                     Chile       27.863379    48.462297
62                 Argentina       25.539098    47.746429
67                Azerbaijan       25.207320    47.644243
48                Costa Rica       20.360637    46.151486
40               Puerto Rico       19.034133    45.742929
74                   Vietnam       16.132793    44.849329
49                    Mexico       15.986272    44.804201
77               Philippines       15.694146    44.714228
60                   Morocco        9.503163    42.807432
65                  Pakistan        8.412599    42.471544
64                     India        7.821896    42.289610
75                     Egypt        1.714893    40.408680
47                   Uruguay       -1.065781    39.552245
76                      Peru       -4.259277    38.568663
66                  Colombia       -5.386427    38.221505
79                 Sri Lanka      -15.034157    35.250047
81                      Iran      -22.760812    32.870272
58                   Ukraine      -26.343205    31.766911
72                Kazakhstan      -30.393842    30.519333
59                   Belarus      -31.259979    30.252567
61                    Brazil      -32.413275    29.897357
78                     Kenya      -37.307600    28.389927
69        Russian Federation      -41.904560    26.974084
80                Bangladesh      -47.708731    25.186425
38              South Africa      -72.892534    17.429926
82                   Nigeria     -129.484024     0.000000

In [4]:
df.columns

Index(['Quality of Life Index', 'Purchasing Power Index', 'Safety Index',
       'Health Care Index', 'Cost of Living Index',
       'Property Price to Income Ratio', 'Traffic Commute Time Index',
       'Pollution Index', 'Climate Index', 'country', 'gdp_ppp',
       'homicide_rate', 'suicide_rate'],
      dtype='object')