In [2]:
import pandas as pd
%run ../country_comparison/compare.py

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [3]:
df = pd.read_csv('../data/result/numbeo_gdp_homi.csv')

In [4]:
df.head(2)

,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,country,gdp_ppp,homicide_rate
0,188.36,102.77,78.38,74.08,125.02,8.18,28.67,19.86,80.05,Switzerland,78111.508,0.6
1,186.25,86.43,73.78,79.79,88.53,7.00,28.69,21.29,81.80,Denmark,63404.856,1.0

In [10]:
df['homi_score'] = default_minmax_scaling(df['homicide_rate'].values.reshape((-1, 1)))

In [9]:
res_df = pd.read_csv('../data/result/res_df.csv')

In [8]:
res_df.sort_values(by='final_score', ascending=False).reset_index(drop=True)

                     country  final_score
0                 Luxembourg   187.893153
1                    Ireland   173.635909
2                Switzerland   171.278369
3                  Singapore   167.384442
4               South Africa   165.861650
5                      Qatar   164.301166
6                    Denmark   156.604857
7              United States   156.472054
8                     Norway   150.583543
9                Netherlands   149.491721
10                   Iceland   145.892476
11                   Austria   145.343515
12      United Arab Emirates   143.759713
13                    Mexico   143.408050
14               Puerto Rico   143.371979
15                   Germany   143.017147
16                   Finland   142.835100
17                 Australia   142.822633
18                    Sweden   139.090901
19               New Zealand   129.389931
20                   Estonia   127.581680
21                    Canada   127.156492
22                 Lithuania   126.546842
23                    Brazil   122.907463
24                   Belgium   122.826010
25            United Kingdom   121.022346
26                    France   120.631078
27                  Slovenia   120.375310
28                     Japan   120.234802
29  Taiwan Province of China   118.360992
30                     Spain   117.867718
31            Czech Republic   114.968525
32                  Colombia   114.862715
33              Saudi Arabia   112.340609
34                      Oman   111.622573
35                  Portugal   110.347998
36                    Israel   108.308320
37                    Latvia   108.251775
38                    Cyprus   107.513875
39                     Italy   101.713706
40                   Uruguay   101.335639
41                   Croatia   101.244920
42           Slovak Republic   100.683518
43                   Hungary    96.417035
44                Costa Rica    95.431222
45                     Korea    94.893593
46                   Nigeria    94.751381
47                    Panama    92.207924
48             Hong Kong SAR    90.253533
49                   Romania    87.437053
50                    Poland    86.852038
51                    Kuwait    86.361144
52                    Turkey    86.163094
53                    Greece    82.219079
54        Russian Federation    78.559256
55                  Bulgaria    76.747995
56                  Malaysia    73.175337
57                 Argentina    68.057193
58                   Ecuador    67.415911
59    Bosnia and Herzegovina    64.988534
60                Kazakhstan    64.950990
61                   Ukraine    64.710313
62                    Serbia    64.633876
63                     Chile    63.800311
64                   Georgia    62.619853
65                   Belarus    60.795034
66           North Macedonia    55.022665
67                  Thailand    53.868145
68                    Jordan    51.592858
69                     China    50.266631
70                Azerbaijan    49.992894
71                      Peru    48.860791
72                     India    45.959043
73                  Pakistan    45.730647
74                   Morocco    43.777537
75                     Egypt    38.660664
76               Philippines    38.266883
77                   Vietnam    35.134971
78                 Indonesia    34.344131
79                 Sri Lanka    30.038634
80                     Kenya    29.601458
81                      Iran    21.270423
82                Bangladesh    13.721864

In [10]:
res_df.sort_values(by='final_score', ascending=False).reset_index(drop=True)

                     country  final_score
0                 Luxembourg   100.000000
1                    Ireland    91.814240
2                Switzerland    90.460664
3                  Singapore    88.224976
4               South Africa    87.350669
5                      Qatar    86.454721
6                    Denmark    82.035905
7              United States    81.959656
8                     Norway    78.578783
9                Netherlands    77.951916
10                   Iceland    75.885419
11                   Austria    75.570234
12      United Arab Emirates    74.660898
13                    Mexico    74.458992
14               Puerto Rico    74.438282
15                   Germany    74.234556
16                   Finland    74.130034
17                 Australia    74.122876
18                    Sweden    71.980312
19               New Zealand    66.410525
20                   Estonia    65.372322
21                    Canada    65.128202
22                 Lithuania    64.778172
23                    Brazil    62.688632
24                   Belgium    62.641866
25            United Kingdom    61.606297
26                    France    61.381652
27                  Slovenia    61.234803
28                     Japan    61.154131
29  Taiwan Province of China    60.078287
30                     Spain    59.795076
31            Czech Republic    58.130512
32                  Colombia    58.069761
33              Saudi Arabia    56.621700
34                      Oman    56.209441
35                  Portugal    55.477648
36                    Israel    54.306572
37                    Latvia    54.274107
38                    Cyprus    53.850443
39                     Italy    50.520291
40                   Uruguay    50.303225
41                   Croatia    50.251139
42           Slovak Republic    49.928811
43                   Hungary    47.479221
44                Costa Rica    46.913219
45                     Korea    46.604541
46                   Nigeria    46.522890
47                    Panama    45.062570
48             Hong Kong SAR    43.940462
49                   Romania    42.323387
50                    Poland    41.987502
51                    Kuwait    41.705657
52                    Turkey    41.591947
53                    Greece    39.327501
54        Russian Federation    37.226223
55                  Bulgaria    36.186292
56                  Malaysia    34.135059
57                 Argentina    31.196490
58                   Ecuador    30.828300
59    Bosnia and Herzegovina    29.434628
60                Kazakhstan    29.413072
61                   Ukraine    29.274888
62                    Serbia    29.231002
63                     Chile    28.752412
64                   Georgia    28.074656
65                   Belarus    27.026940
66           North Macedonia    23.712750
67                  Thailand    23.049884
68                    Jordan    21.743535
69                     China    20.982085
70                Azerbaijan    20.824919
71                      Peru    20.174925
72                     India    18.508894
73                  Pakistan    18.377761
74                   Morocco    17.256388
75                     Egypt    14.318548
76               Philippines    14.092460
77                   Vietnam    12.294281
78                 Indonesia    11.840222
79                 Sri Lanka     9.368232
80                     Kenya     9.117228
81                      Iran     4.333986
82                Bangladesh     0.000000