In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [2]:
ll ../data/input/homicide_rate/

total 3568
-rw-rw-r-- 1 saiko 3650482 Dec 30 14:57 download_Full_Data_data.csv

In [3]:
homi_df = pd.read_csv('..//data/input/homicide_rate/download_Full_Data_data.csv')
gdp_df = pd.read_csv('../data/intermediate/gdp_per_cap_ppp/gdp_per_capita_short.csv')

In [4]:
homi_df.columns

Index(['download', 'Country', 'Icon', 'Indicator', 'Region', 'Source',
       'Subregion', 'Year', 'Homicide filtered by Indicator',
       'Number of Records', 'value'],
      dtype='object')

In [5]:
homi_df.head(2)

,download,Country,Icon,Indicator,Region,Source,Subregion,Year,Homicide filtered by Indicator,Number of Records,value
0,NaN,Afghanistan,NaN,Female homicide count,Asia,NSO,Southern Asia,2015,NaN,1,93.0
1,NaN,Afghanistan,NaN,Female homicide count,Asia,NSO,Southern Asia,2016,NaN,1,101.0

In [8]:
homi_df['Year'].max()

2018

In [9]:
is_summarize_rate = homi_df['Indicator'] == 'Homicide rate'
homi_df = homi_df[is_summarize_rate]

In [14]:
is_max_year = homi_df['Year'] == homi_df.groupby('Country')['Year'].transform(max)
homi_df = homi_df[is_max_year]

In [16]:
homi_df[['Country', 'Year', 'value']].to_csv('../data/intermediate/homi_short.csv', index=None)