In [1]:
import pandas as pd

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [2]:
mega_df = pd.read_csv('../../data/result/mega_table.csv')
gini_df = pd.read_csv('../../data/intermediate/gini_short.csv')

In [3]:
gini_df.head(2)

                       country  gini
0                        Aruba   NaN
1  Africa Eastern and Southern   NaN

In [4]:
mega_minus_gini = set(mega_df['country']) - set(gini_df['country']) 
mega_minus_gini

{'Egypt', 'Hong Kong SAR', 'Iran', 'Korea', 'Taiwan Province of China'}

In [5]:
%run ../clean_country.py

In [6]:
match_country_spelling(gini_df,
                       mega_minus_gini,
                       is_first_word=True,
                      country_col='country')

{'Egypt': 'Egypt, Arab Rep.',
 'Iran': 'Iraq',
 'Korea': 'Korea, Rep.',
 'Hong Kong SAR': 'Hong Kong SAR, China',
 'Taiwan Province of China': 'Thailand'}

In [7]:
gini_df

                                                  country  gini
0                                                   Aruba   NaN
1                             Africa Eastern and Southern   NaN
2                                             Afghanistan   NaN
3                              Africa Western and Central   NaN
4                                                  Angola  51.3
5                                                 Albania  33.2
6                                                 Andorra   NaN
7                                              Arab World   NaN
8                                    United Arab Emirates  26.0
9                                               Argentina  42.9
10                                                Armenia  29.9
11                                         American Samoa   NaN
12                                    Antigua and Barbuda   NaN
13                                              Australia  34.4
14                                                Austria  30.8
15                                             Azerbaijan   NaN
16                                                Burundi  38.6
17                                                Belgium  27.2
18                                                  Benin  47.8
19                                           Burkina Faso  35.3
20                                             Bangladesh  32.4
21                                               Bulgaria  41.3
22                                                Bahrain   NaN
23                                           Bahamas, The   NaN
24                                 Bosnia and Herzegovina  33.0
25                                                Belarus  25.3
26                                                 Belize   NaN
27                                                Bermuda   NaN
28                                                Bolivia  41.6
29                                                 Brazil  53.4
30                                               Barbados   NaN
31                                      Brunei Darussalam   NaN
32                                                 Bhutan  37.4
33                                               Botswana  53.3
34                               Central African Republic   NaN
35                                                 Canada  33.3
36                         Central Europe and the Baltics   NaN
37                                            Switzerland  33.1
38                                        Channel Islands   NaN
39                                                  Chile  44.4
40                                                  China  38.5
41                                          Cote d'Ivoire  41.5
42                                               Cameroon  46.6
43                                       Congo, Dem. Rep.  42.1
44                                            Congo, Rep.  48.9
45                                               Colombia  51.3
46                                                Comoros  45.3
47                                             Cabo Verde  42.4
48                                             Costa Rica  48.2
49                                 Caribbean small states   NaN
50                                                   Cuba   NaN
51                                                Curacao   NaN
52                                         Cayman Islands   NaN
53                                                 Cyprus  32.7
54                                         Czech Republic  25.0
55                                                Germany  31.9
56                                               Djibouti  41.6
57                                               Dominica   NaN
58                                                Denmark  28.2
59                                     Dominican Republic  41.9
60                                                Algeria  27.6
61            East Asia & Pacific (excluding high income)   NaN
62                             Early-demographic dividend   NaN
63                                    East Asia & Pacific   NaN
64          Europe & Central Asia (excluding high income)   NaN
65                                  Europe & Central Asia   NaN
66                                                Ecuador  45.7
67                                       Egypt, Arab Rep.  31.5
68                                              Euro area   NaN
69                                                Eritrea   NaN
70                                                  Spain  34.7
71                                                Estonia  30.3
72                                               Ethiopia  35.0
73                                         European Union   NaN
74               Fragile and conflict affected situations   NaN
75                                                Finland  27.3
76                                                   Fiji  36.7
77                                                 France  32.4
78                                          Faroe Islands   NaN
79                                  Micronesia, Fed. Sts.  40.1
80                                                  Gabon  38.0
81                                         United Kingdom  35.1
82                                                Georgia  35.9
83                                                  Ghana  43.5
84                                              Gibraltar   NaN
85                                                 Guinea  33.7
86                                            Gambia, The  35.9
87                                          Guinea-Bissau   NaN
88                                      Equatorial Guinea   NaN
89                                                 Greece  32.9
90                                                Grenada   NaN
91                                              Greenland   NaN
92                                              Guatemala  48.3
93                                                   Guam   NaN
94                                                 Guyana   NaN
95                                            High income   NaN
96                                   Hong Kong SAR, China   NaN
97                                               Honduras  48.2
98                 Heavily indebted poor countries (HIPC)   NaN
99                                                Croatia  29.7
100                                                 Haiti  41.1
101                                               Hungary  29.6
102                                             IBRD only   NaN
103                                      IDA & IBRD total   NaN
104                                             IDA total   NaN
105                                             IDA blend   NaN
106                                             Indonesia  38.2
107                                              IDA only   NaN
108                                           Isle of Man   NaN
109                                                 India  35.7
110                                        Not classified   NaN
111                                               Ireland  31.4
112                                    Iran, Islamic Rep.  42.0
113                                                  Iraq  29.5
114                                               Iceland  26.1
115                                                Israel  39.0
116                                                 Italy  35.9
117                                               Jamaica   NaN
118                                                Jordan   NaN
119                                                 Japan  32.9
120                                            Kazakhstan  27.8
121                                                 Kenya  40.8
122                                       Kyrgyz Republic  29.7
123                                              Cambodia   NaN
124                                              Kiribati   NaN
125                                   St. Kitts and Nevis   NaN
126                                           Korea, Rep.  31.4
127                                                Kuwait   NaN
128     Latin America & Caribbean (excluding high income)   NaN
129                                               Lao PDR  38.8
130                                               Lebanon  31.8
131                                               Liberia  35.3
132                                                 Libya   NaN
133                                             St. Lucia  51.2
134                             Latin America & Caribbean   NaN
135          Least developed countries: UN classification   NaN
136                                            Low income   NaN
137                                         Liechtenstein   NaN
138                                             Sri Lanka  39.3
139                                   Lower middle income   NaN
140                                   Low & middle income   NaN
141                                               Lesotho  44.9
142                             Late-demographic dividend   NaN
143                                             Lithuania  35.7
144                                            Luxembourg  35.4
145                                                Latvia  35.1
146                                      Macao SAR, China   NaN
147                              St. Martin (French part)   NaN
148                                               Morocco  39.5
149                                                Monaco   NaN
150                                               Moldova  25.7
151                                            Madagascar  42.6
152                                              Maldives  31.3
153                            Middle East & North Africa   NaN
154                                                Mexico  45.4
155                                      Marshall Islands   NaN
156                                         Middle income   NaN
157                                       North Macedonia  33.0
158                                                  Mali   NaN
159                                                 Malta  28.7
160                                               Myanmar  30.7
161    Middle East & North Africa (excluding high income)   NaN
162                                            Montenegro  38.5
163                                              Mongolia  32.7
164                              Northern Mariana Islands   NaN
165                                            Mozambique  54.0
166                                            Mauritania  32.6
167                                             Mauritius  36.8
168                                                Malawi  44.7
169                                              Malaysia  41.1
170                                         North America   NaN
171                                               Namibia  59.1
172                                         New Caledonia   NaN
173                                                 Niger  34.3
174                                               Nigeria  35.1
175                                             Nicaragua  46.2
176                                           Netherlands  28.1
177                                                Norway  27.6
178                                                 Nepal   NaN
179                                                 Nauru  34.8
180                                           New Zealand   NaN
181                                          OECD members   NaN
182                                                  Oman   NaN
183                                    Other small states   NaN
184                                              Pakistan  31.6
185                                                Panama  49.8
186                                                  Peru  41.5
187                                           Philippines  42.3
188                                                 Palau   NaN
189                                      Papua New Guinea   NaN
190                                                Poland  30.2
191                              Pre-demographic dividend   NaN
192                                           Puerto Rico   NaN
193                             Korea, Dem. People's Rep.   NaN
194                                              Portugal  33.5
195                                              Paraguay  45.7
196                                    West Bank and Gaza  33.7
197                           Pacific island small states   NaN
198                             Post-demographic dividend   NaN
199                                      French Polynesia   NaN
200                                                 Qatar   NaN
201                                               Romania  35.8
202                                    Russian Federation  37.5
203                                                Rwanda  43.7
204                                            South Asia   NaN
205                                          Saudi Arabia   NaN
206                                                 Sudan  34.2
207                                               Senegal  40.3
208                                             Singapore   NaN
209                                       Solomon Islands  37.1
210                                          Sierra Leone  35.7
211                                           El Salvador  38.8
212                                            San Marino   NaN
213                                               Somalia  36.8
214                                                Serbia  36.2
215            Sub-Saharan Africa (excluding high income)   NaN
216                                           South Sudan  44.1
217                                    Sub-Saharan Africa   NaN
218                                          Small states   NaN
219                                 Sao Tome and Principe  56.3
220                                              Suriname   NaN
221                                       Slovak Republic  25.0
222                                              Slovenia  24.6
223                                                Sweden  30.0
224                                              Eswatini  54.6
225                             Sint Maarten (Dutch part)   NaN
226                                            Seychelles  32.1
227                                  Syrian Arab Republic   NaN
228                              Turks and Caicos Islands   NaN
229                                                  Chad  43.3
230            East Asia & Pacific (IDA & IBRD countries)   NaN
231          Europe & Central Asia (IDA & IBRD countries)   NaN
232                                                  Togo  43.1
233                                              Thailand  34.9
234                                            Tajikistan  34.0
235                                          Turkmenistan   NaN
236  Latin America & the Caribbean (IDA & IBRD countries)   NaN
237                                           Timor-Leste  28.7
238     Middle East & North Africa (IDA & IBRD countries)   NaN
239                                                 Tonga  37.6
240                               South Asia (IDA & IBRD)   NaN
241             Sub-Saharan Africa (IDA & IBRD countries)   NaN
242                                   Trinidad and Tobago   NaN
243                                               Tunisia  32.8
244                                                Turkey  41.9
245                                                Tuvalu   NaN
246                                              Tanzania  40.5
247                                                Uganda  42.8
248                                               Ukraine  26.6
249                                   Upper middle income   NaN
250                                               Uruguay  39.7
251                                         United States  41.4
252                                            Uzbekistan   NaN
253                        St. Vincent and the Grenadines   NaN
254                                         Venezuela, RB   NaN
255                                British Virgin Islands   NaN
256                                 Virgin Islands (U.S.)   NaN
257                                               Vietnam  35.7
258                                               Vanuatu   NaN
259                                                 World   NaN
260                                                 Samoa  38.7
261                                                Kosovo  29.0
262                                           Yemen, Rep.  36.7
263                                          South Africa  63.0
264                                                Zambia  57.1
265                                              Zimbabwe  50.3

In [8]:
gini_df.loc[gini_df['country']=="Korea, Rep.", 'country'] = 'Korea'
gini_df.loc[gini_df['country']=='Hong Kong SAR, China', 'country'] = 'Hong Kong SAR'
gini_df.loc[gini_df['country']=='Egypt, Arab Rep.', 'country'] = 'Egypt'
gini_df.loc[gini_df['country']=='Iran, Islamic Rep.', 'country'] = 'Iran'

In [9]:
mega_minus_gini = set(mega_df['country']) - set(gini_df['country']) 
mega_minus_gini

{'Taiwan Province of China'}

In [10]:
res_df = mega_df.merge(gini_df[['country', 'gini']], how='left', on='country')
res_df.shape

(82, 18)

In [11]:
#source statista.com
res_df.loc[res_df['country']=='Taiwan Province of China', 'gini'] = 34

In [12]:
res_df.loc[res_df['gini'].isnull(), ['country', 'gini']]

          country  gini
8     New Zealand   NaN
13           Oman   NaN
26          Qatar   NaN
31      Singapore   NaN
33   Saudi Arabia   NaN
53         Kuwait   NaN
54         Jordan   NaN
66     Azerbaijan   NaN
70  Hong Kong SAR   NaN

In [19]:
#source worldpopulationreview.com

res_df.loc[res_df['country']=='New Zealand', 'gini'] = 36.2
res_df.loc[res_df['country']=='Qatar', 'gini'] = 41.1
res_df.loc[res_df['country']=='Singapore', 'gini'] = 45.9
res_df.loc[res_df['country']=='Jordan', 'gini'] = 33.7
res_df.loc[res_df['country']=='Azerbaijan', 'gini'] = 26.6
res_df.loc[res_df['country']=='Hong Kong SAR', 'gini'] = 53.9
res_df.loc[res_df['country']=='Saudi Arabia', 'gini'] = 45.9

In [17]:
res_df.loc[res_df['country']=='Kuwait', 'gini'] = 50 #no info for kuwait, high value is a penalty for a closeness
res_df.loc[res_df['country']=='Oman', 'gini'] = 41.1 #tradingeconomics

In [20]:
res_df.loc[res_df['gini'].isnull(), ['country', 'gini']]

Empty DataFrame
Columns: [country, gini]
Index: []

In [21]:
res_df.to_csv('../../data/result/mega_table.csv', index=None)

In [23]:
res_df['gini'].min()

24.6