In [22]:
import pandas as pd

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [23]:
mega_df = pd.read_csv('../../data/result/mega_table.csv')
happy_df = pd.read_csv('../../data/intermediate/happiness_short.csv')

In [24]:
happy_df.head(2)

   country  happiness
0  Finland     7.8421
1  Denmark     7.6195

In [25]:
mega_minus_happy = set(mega_df['country']) - set(happy_df['country']) 
mega_minus_happy

{'Hong Kong SAR',
 'Korea',
 'Oman',
 'Puerto Rico',
 'Qatar',
 'Russian Federation',
 'Slovak Republic'}

In [26]:
%run ../clean_country.py

In [27]:
match_country_spelling(happy_df,
                       mega_minus_happy,
                       is_first_word=True,
                      country_col='country')

{'Korea': 'North Cyprus',
 'Puerto Rico': 'Peru',
 'Hong Kong SAR': 'Hong Kong S.A.R. of China',
 'Slovak Republic': 'Slovakia',
 'Russian Federation': 'Russia',
 'Qatar': 'Japan',
 'Oman': 'Iran'}

In [28]:
happy_df['country'].sort_values()

148                  Afghanistan
92                       Albania
108                      Algeria
56                     Argentina
85                       Armenia
10                     Australia
9                        Austria
89                    Azerbaijan
21                       Bahrain
100                   Bangladesh
74                       Belarus
19                       Belgium
98                         Benin
68                       Bolivia
63        Bosnia and Herzegovina
145                     Botswana
34                        Brazil
87                      Bulgaria
112                 Burkina Faso
139                      Burundi
113                     Cambodia
90                      Cameroon
13                        Canada
127                         Chad
42                         Chile
83                         China
51                      Colombia
130                      Comoros
82           Congo (Brazzaville)
15                    Costa Rica
59                       Croatia
38                        Cyprus
17                Czech Republic
1                        Denmark
72            Dominican Republic
65                       Ecuador
131                        Egypt
48                   El Salvador
39                       Estonia
132                     Ethiopia
0                        Finland
20                        France
111                        Gabon
97                        Gambia
107                      Georgia
12                       Germany
94                         Ghana
67                        Greece
29                     Guatemala
101                       Guinea
142                        Haiti
58                      Honduras
76     Hong Kong S.A.R. of China
52                       Hungary
3                        Iceland
138                        India
81                     Indonesia
117                         Iran
110                         Iraq
14                       Ireland
11                        Israel
27                         Italy
84                   Ivory Coast
36                       Jamaica
55                         Japan
126                       Jordan
44                    Kazakhstan
120                        Kenya
32                        Kosovo
46                        Kuwait
66                    Kyrgyzstan
99                          Laos
50                        Latvia
122                      Lebanon
144                      Lesotho
119                      Liberia
79                         Libya
37                     Lithuania
7                     Luxembourg
134                   Madagascar
143                       Malawi
80                      Malaysia
88                      Maldives
116                         Mali
22                         Malta
133                   Mauritania
49                     Mauritius
35                        Mexico
64                       Moldova
69                      Mongolia
71                    Montenegro
105                      Morocco
114                   Mozambique
125                      Myanmar
123                      Namibia
86                         Nepal
4                    Netherlands
8                    New Zealand
54                     Nicaragua
95                         Niger
115                      Nigeria
73                  North Cyprus
93               North Macedonia
5                         Norway
104                     Pakistan
124      Palestinian Territories
40                        Panama
70                      Paraguay
62                          Peru
60                   Philippines
43                        Poland
57                      Portugal
45                       Romania
75                        Russia
146                       Rwanda
25                  Saudi Arabia
91                       Senegal
47                        Serbia
137                 Sierra Leone
31                     Singapore
33                      Slovakia
28                      Slovenia
102                 South Africa
61                   South Korea
26                         Spain
128                    Sri Lanka
129                    Swaziland
6                         Sweden
2                    Switzerland
23      Taiwan Province of China
77                    Tajikistan
141                     Tanzania
53                      Thailand
135                         Togo
121                      Tunisia
103                       Turkey
96                  Turkmenistan
118                       Uganda
109                      Ukraine
24          United Arab Emirates
16                United Kingdom
18                 United States
30                       Uruguay
41                    Uzbekistan
106                    Venezuela
78                       Vietnam
140                        Yemen
136                       Zambia
147                     Zimbabwe
Name: country, dtype: object

In [29]:
# happy_df.loc[happy_df['Country']=='Republic of Korea', 'Country'] = 'Korea'
happy_df.loc[happy_df['country']=='Hong Kong S.A.R. of China', 'country'] = 'Hong Kong SAR'
happy_df.loc[happy_df['country']=='Slovakia', 'country'] = 'Slovak Republic'
happy_df.loc[happy_df['country']=='Russia', 'country'] = 'Russian Federation'
happy_df.loc[happy_df['country']=='South Korea', 'country'] = 'Korea'

In [30]:
mega_minus_happy = set(mega_df['country']) - set(happy_df['country']) 
mega_minus_happy

{'Oman', 'Puerto Rico', 'Qatar'}

In [31]:
res_df = mega_df.merge(happy_df[['country', 'happiness']], how='left', on='country')
res_df.shape

(83, 15)

In [33]:
#taken from different years and Puerto Rico again=)

res_df.loc[res_df['country']=='Oman', 'happiness'] = 6.683
res_df.loc[res_df['country']=='Qatar', 'happiness'] = 6.74
res_df.loc[res_df['country']=='Puerto Rico', 'happiness'] = res_df['happiness'].mean()

In [34]:
res_df.to_csv('../../data/result/mega_table.csv', index=None)