In [1]:
import pandas as pd

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [3]:
mega_df = pd.read_csv('../../data/result/mega_table.csv')
exp_df = pd.read_csv('../../data/intermediate/life_expectancy.csv')

In [4]:
exp_df.head(2)

       country  year  life_expectancy
0  Afghanistan  2019             63.2
1      Albania  2019             78.0

In [5]:
mega_df.head(2)

,quality_of_life_numbeo,purchasing_power_numbeo,safety_numbeo,health_care_numbeo,cost_of_living_numbeo,property_price_to_income_numbeo,traffic_commute_time_numbeo,pollution_numbeo,climate_numbeo,country,gdp_ppp,homicide_rate,suicide_rate
0,188.36,102.77,78.38,74.08,125.02,8.18,28.67,19.86,80.05,Switzerland,78111.508,0.6,9.8
1,186.25,86.43,73.78,79.79,88.53,7.00,28.69,21.29,81.80,Denmark,63404.856,1.0,7.6

In [6]:
mega_minus_exp = set(mega_df['country']) - set(exp_df['country']) 
mega_minus_exp

{'Czech Republic',
 'Hong Kong SAR',
 'Iran',
 'Korea',
 'Puerto Rico',
 'Slovak Republic',
 'Taiwan Province of China',
 'United Kingdom',
 'United States',
 'Vietnam'}

In [10]:
exp_df.loc[exp_df['country']=='Viet Nam', 'country'] = 'Vietnam'
exp_df.loc[exp_df['country']=='Iran (Islamic Republic of)', 'country'] = 'Iran'
exp_df.loc[exp_df['country']=='Czechia', 'country'] = 'Czech Republic'
exp_df.loc[exp_df['country']=='Republic of Korea', 'country'] = 'Korea'
exp_df.loc[exp_df['country']=='United States of America', 'country'] = 'United States'
exp_df.loc[exp_df['country']=='Slovakia', 'country'] = 'Slovak Republic'
exp_df.loc[exp_df['country']=='United Kingdom of Great Britain and Northern Ireland', 'country'] = 'United Kingdom'

In [12]:
mega_minus_exp = set(mega_df['country']) - set(exp_df['country']) 
mega_minus_exp

{'Hong Kong SAR', 'Puerto Rico', 'Taiwan Province of China'}

In [15]:
res_df = mega_df.merge(exp_df[['country', 'life_expectancy']], how='left', on='country')

In [20]:
#who doesn't have a data, so I used wiki and google

res_df.loc[res_df['country']=='Hong Kong SAR', 'life_expectancy'] = 80.4
res_df.loc[res_df['country']=='Taiwan Province of China', 'life_expectancy'] = 77.1
res_df.loc[res_df['country']=='Puerto Rico', 'life_expectancy'] = 77.6

In [21]:
res_df.to_csv('../../data/result/mega_table.csv', index=None)