In [2]:
import pandas as pd

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [3]:
mega_df = pd.read_csv('../../data/result/mega_table.csv')
age_df = pd.read_csv('../../data/intermediate/median_age_short.csv')

In [4]:
age_df.head(2)

   country  distance_to_30_years
0  Burundi                 12.68
1  Comoros                  9.63

In [5]:
mega_minus_age = set(mega_df['country']) - set(age_df['country']) 
mega_minus_age

{'Czech Republic',
 'Hong Kong SAR',
 'Iran',
 'Korea',
 'Slovak Republic',
 'Taiwan Province of China',
 'United States',
 'Vietnam'}

In [6]:
%run ../clean_country.py

In [7]:
match_country_spelling(age_df,
                       mega_minus_age,
                       is_first_word=True,
                      country_col='country')

{'Iran': 'Iran (Islamic Republic of)',
 'Korea': 'Tonga',
 'Hong Kong SAR': 'Tonga',
 'Taiwan Province of China': 'Thailand',
 'Slovak Republic': 'Slovakia',
 'Vietnam': 'Viet Nam',
 'Czech Republic': 'Czechia',
 'United States': 'United States Virgin Islands'}

In [9]:
match_country_spelling(age_df,
                       mega_minus_age,
                       is_first_word=False,
                      country_col='country')

{'Iran': 'Iraq',
 'Korea': 'Tonga',
 'Hong Kong SAR': 'China, Hong Kong SAR',
 'Taiwan Province of China': 'China, Taiwan Province of China',
 'Slovak Republic': 'Dominican Republic',
 'Vietnam': 'Viet Nam',
 'Czech Republic': 'Dominican Republic',
 'United States': 'United Kingdom'}

In [8]:
age_df['country'].sort_values()

80                            Afghanistan
180                               Albania
50                                Algeria
20                                 Angola
108                   Antigua and Barbuda
133                             Argentina
57                                Armenia
109                                 Aruba
146                             Australia
192                               Austria
58                             Azerbaijan
110                               Bahamas
59                                Bahrain
81                             Bangladesh
111                              Barbados
159                               Belarus
193                               Belgium
125                                Belize
34                                  Benin
82                                 Bhutan
134      Bolivia (Plurinational State of)
181                Bosnia and Herzegovina
29                               Botswana
135                                Brazil
97                      Brunei Darussalam
160                              Bulgaria
35                           Burkina Faso
0                                 Burundi
36                             Cabo Verde
98                               Cambodia
21                               Cameroon
199                                Canada
22               Central African Republic
23                                   Chad
169                       Channel Islands
136                                 Chile
89                                  China
90                   China, Hong Kong SAR
91                       China, Macao SAR
92        China, Taiwan Province of China
137                              Colombia
1                                 Comoros
24                                  Congo
126                            Costa Rica
182                               Croatia
112                                  Cuba
113                               Curaçao
60                                 Cyprus
161                               Czechia
37                          Côte d'Ivoire
93        Dem. People's Republic of Korea
25       Democratic Republic of the Congo
170                               Denmark
2                                Djibouti
114                    Dominican Republic
138                               Ecuador
51                                  Egypt
127                           El Salvador
26                      Equatorial Guinea
3                                 Eritrea
171                               Estonia
30                               Eswatini
4                                Ethiopia
148                                  Fiji
172                               Finland
194                                France
139                         French Guiana
156                      French Polynesia
27                                  Gabon
38                                 Gambia
61                                Georgia
195                               Germany
39                                  Ghana
183                                Greece
115                               Grenada
116                            Guadeloupe
153                                  Guam
128                             Guatemala
40                                 Guinea
41                          Guinea-Bissau
140                                Guyana
117                                 Haiti
129                              Honduras
162                               Hungary
173                               Iceland
83                                  India
99                              Indonesia
84             Iran (Islamic Republic of)
62                                   Iraq
174                               Ireland
63                                 Israel
184                                 Italy
118                               Jamaica
94                                  Japan
64                                 Jordan
75                             Kazakhstan
5                                   Kenya
154                              Kiribati
65                                 Kuwait
76                             Kyrgyzstan
100      Lao People's Democratic Republic
175                                Latvia
66                                Lebanon
31                                Lesotho
42                                Liberia
52                                  Libya
176                             Lithuania
196                            Luxembourg
6                              Madagascar
7                                  Malawi
101                              Malaysia
85                               Maldives
43                                   Mali
185                                 Malta
119                            Martinique
44                             Mauritania
8                               Mauritius
9                                 Mayotte
130                                Mexico
155           Micronesia (Fed. States of)
95                               Mongolia
186                            Montenegro
53                                Morocco
10                             Mozambique
102                               Myanmar
32                                Namibia
86                                  Nepal
197                           Netherlands
149                         New Caledonia
147                           New Zealand
131                             Nicaragua
45                                  Niger
46                                Nigeria
187                       North Macedonia
177                                Norway
67                                   Oman
87                               Pakistan
132                                Panama
150                      Papua New Guinea
141                              Paraguay
142                                  Peru
103                           Philippines
163                                Poland
188                              Portugal
120                           Puerto Rico
68                                  Qatar
96                      Republic of Korea
164                   Republic of Moldova
165                               Romania
166                    Russian Federation
12                                 Rwanda
11                                Réunion
121                           Saint Lucia
122      Saint Vincent and the Grenadines
157                                 Samoa
28                  Sao Tome and Principe
69                           Saudi Arabia
47                                Senegal
189                                Serbia
13                             Seychelles
48                           Sierra Leone
104                             Singapore
167                              Slovakia
190                              Slovenia
151                       Solomon Islands
14                                Somalia
33                           South Africa
15                            South Sudan
191                                 Spain
88                              Sri Lanka
70                     State of Palestine
54                                  Sudan
143                              Suriname
178                                Sweden
198                           Switzerland
71                   Syrian Arab Republic
77                             Tajikistan
105                              Thailand
106                           Timor-Leste
49                                   Togo
158                                 Tonga
123                   Trinidad and Tobago
55                                Tunisia
72                                 Turkey
78                           Turkmenistan
16                                 Uganda
168                               Ukraine
73                   United Arab Emirates
179                        United Kingdom
17            United Republic of Tanzania
124          United States Virgin Islands
200              United States of America
144                               Uruguay
79                             Uzbekistan
152                               Vanuatu
145    Venezuela (Bolivarian Republic of)
107                              Viet Nam
56                         Western Sahara
74                                  Yemen
18                                 Zambia
19                               Zimbabwe
Name: country, dtype: object

In [19]:
age_df.loc[age_df['country']=='Iran (Islamic Republic of)', 'country'] = 'Iran'
age_df.loc[age_df['country']=='Republic of Korea', 'country'] = 'Korea'
age_df.loc[age_df['country']=='China, Hong Kong SAR', 'country'] = 'Hong Kong SAR'
age_df.loc[age_df['country']=='China, Taiwan Province of China', 'country'] = 'Taiwan Province of China'
age_df.loc[age_df['country']=='Slovakia', 'country'] = 'Slovak Republic'
age_df.loc[age_df['country']=='Czechia', 'country'] = 'Czech Republic'
age_df.loc[age_df['country']=='Viet Nam', 'country'] = 'Vietnam'
age_df.loc[age_df['country']=='United States of America', 'country'] = 'United States'

In [20]:
mega_minus_age = set(mega_df['country']) - set(age_df['country']) 
mega_minus_age

set()

In [21]:
res_df = mega_df.merge(age_df[['country', 'distance_to_30_years']], how='left', on='country')
res_df.shape

(82, 17)

In [22]:
res_df.to_csv('../../data/result/mega_table.csv', index=None)