In [1]:
import pandas as pd

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [2]:
mega_df = pd.read_csv('../../data/result/mega_table.csv')
unesco_df = pd.read_csv('../../data/intermediate/unesco.csv')

In [3]:
unesco_df.head(2)

       country  unesco_objects
0  Afghanistan               2
1      Albania               4

In [4]:
mega_df.head(2)

,quality_of_life_numbeo,purchasing_power_numbeo,safety_numbeo,health_care_numbeo,cost_of_living_numbeo,property_price_to_income_numbeo,traffic_commute_time_numbeo,pollution_numbeo,climate_numbeo,country,gdp_ppp,homicide_rate,suicide_rate,life_expectancy
0,188.36,102.77,78.38,74.08,125.02,8.18,28.67,19.86,80.05,Switzerland,78111.508,0.6,9.8,83.4
1,186.25,86.43,73.78,79.79,88.53,7.00,28.69,21.29,81.80,Denmark,63404.856,1.0,7.6,81.3

In [5]:
mega_minus_unesco = set(mega_df['country']) - set(unesco_df['country']) 
mega_minus_unesco

{'Georgia',
 'Hong Kong SAR',
 'Ireland',
 'Korea',
 'Kuwait',
 'Puerto Rico',
 'Russian Federation',
 'Slovak Republic',
 'Taiwan Province of China'}

In [12]:
unesco_df['country'].sort_values()

0                           Afghanistan
1                               Albania
2                               Algeria
3                               Andorra
4                                Angola
5                   Antigua and Barbuda
6                             Argentina
7                               Armenia
8                             Australia
9                               Austria
10                           Azerbaijan
11                              Bahrain
12                           Bangladesh
13                             Barbados
14                              Belarus
15                              Belgium
16                               Belize
17                                Benin
18                              Bolivia
19               Bosnia and Herzegovina
20                             Botswana
21                               Brazil
22                             Bulgaria
23                         Burkina Faso
24                             Cambodia
25                             Cameroon
26                               Canada
27                           Cape Verde
28             Central African Republic
29                                 Chad
30                                Chile
31                                China
32                             Colombia
34                           Costa Rica
36                              Croatia
37                                 Cuba
38                               Cyprus
39                       Czech Republic
40     Democratic Republic of the Congo
41                              Denmark
42                             Dominica
43                   Dominican Republic
44                              Ecuador
45                                Egypt
46                          El Salvador
47                              Eritrea
48                              Estonia
49                             Ethiopia
98       Federated States of Micronesia
50                                 Fiji
51                              Finland
52                               France
53                                Gabon
55                    Georgia (country)
56                              Germany
57                                Ghana
58                               Greece
59                            Guatemala
60                               Guinea
61                                Haiti
63                             Honduras
64                              Hungary
65                              Iceland
66                                India
67                            Indonesia
68                                 Iran
69                                 Iraq
71                               Israel
72                                Italy
35                          Ivory Coast
73                              Jamaica
74                                Japan
76                               Jordan
77                           Kazakhstan
78                                Kenya
79                             Kiribati
80                           Kyrgyzstan
81                                 Laos
82                               Latvia
83                              Lebanon
84                              Lesotho
85                                Libya
86                            Lithuania
87                           Luxembourg
88                           Madagascar
89                               Malawi
90                             Malaysia
91                                 Mali
92                                Malta
93                     Marshall Islands
94                           Mauritania
95                            Mauritius
96                               Mexico
97                              Moldova
99                             Mongolia
100                          Montenegro
101                             Morocco
102                          Mozambique
103                             Myanmar
104                             Namibia
105                               Nepal
106                         Netherlands
107                         New Zealand
108                           Nicaragua
109                               Niger
110                             Nigeria
111                         North Korea
112                     North Macedonia
113                              Norway
75                 Old City (Jerusalem)
114                                Oman
115                            Pakistan
116                               Palau
118                              Panama
119                    Papua New Guinea
120                            Paraguay
121                                Peru
122                         Philippines
123                              Poland
124                            Portugal
125                               Qatar
70                  Republic of Ireland
33                Republic of the Congo
126                             Romania
127                              Russia
128               Saint Kitts and Nevis
129                         Saint Lucia
130                          San Marino
131                        Saudi Arabia
132                             Senegal
133                              Serbia
134                          Seychelles
135                           Singapore
136                            Slovakia
137                            Slovenia
138                     Solomon Islands
139                        South Africa
140                         South Korea
141                               Spain
142                           Sri Lanka
117                  State of Palestine
143                               Sudan
144                            Suriname
145                              Sweden
146                         Switzerland
147                               Syria
148                          Tajikistan
149                            Tanzania
150                            Thailand
54                           The Gambia
151                                Togo
152                             Tunisia
153                              Turkey
154                        Turkmenistan
155                              Uganda
156                             Ukraine
159                United Arab Emirates
157                      United Kingdom
158                       United States
160                             Uruguay
161                          Uzbekistan
162                             Vanuatu
62                         Vatican City
163                           Venezuela
164                             Vietnam
165                               Yemen
166                              Zambia
167                            Zimbabwe
Name: country, dtype: object

In [13]:
unesco_df.loc[unesco_df['country']=='Russia', 'country'] = 'Russian Federation'
unesco_df.loc[unesco_df['country']=='Georgia (country)', 'country'] = 'Georgia'
unesco_df.loc[unesco_df['country']=='South Korea', 'country'] = 'Korea'
unesco_df.loc[unesco_df['country']=='Slovakia', 'country'] = 'Slovak Republic'

In [14]:
mega_minus_exp = set(mega_df['country']) - set(unesco_df['country']) 
mega_minus_exp

{'Hong Kong SAR',
 'Ireland',
 'Kuwait',
 'Puerto Rico',
 'Taiwan Province of China'}

In [17]:
res_df = mega_df.merge(unesco_df[['country', 'unesco_objects']], how='left', on='country')

In [19]:
res_df = res_df[res_df['country']!='Puerto Rico']
res_df.shape

(82, 15)

In [20]:

res_df.loc[res_df['country']=='Hong Kong SAR', 'unesco_objects'] = 1
res_df.loc[res_df['country']=='Taiwan Province of China', 'unesco_objects'] = 0
res_df.loc[res_df['country']=='Kuwait', 'unesco_objects'] = 0
res_df.loc[res_df['country']=='Ireland', 'unesco_objects'] = 2

In [22]:
res_df.to_csv('../../data/result/mega_table.csv', index=None)