In [1]:
import pandas as pd

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [15]:
exp_df = pd.read_csv('../../data/input/life_expectancy.csv')

In [16]:
exp_df.head(2)

,Unnamed: 0,Unnamed: 1,Life expectancy at birth (years),Life expectancy at birth (years).1,Life expectancy at birth (years).2,Life expectancy at age 60 (years),Life expectancy at age 60 (years).1,Life expectancy at age 60 (years).2,Healthy life expectancy (HALE) at birth (years),Healthy life expectancy (HALE) at birth (years).1,Healthy life expectancy (HALE) at birth (years).2,Healthy life expectancy (HALE) at age 60 (years),Healthy life expectancy (HALE) at age 60 (years).1,Healthy life expectancy (HALE) at age 60 (years).2
0,Country,Year,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
1,Afghanistan,2019,63.2,63.3,63.2,15.2,15.4,15.1,53.9,54.7,53.2,10.8,11.2,10.6

In [17]:
exp_df = exp_df.iloc[:, :3]

In [18]:
exp_df.head(2)

    Unnamed: 0 Unnamed: 1 Life expectancy at birth (years)
0      Country       Year                       Both sexes
1  Afghanistan       2019                             63.2

In [19]:
exp_df.columns = exp_df.iloc[0]
exp_df = exp_df.iloc[1:]

In [20]:
exp_df.head(2)

0      Country  Year Both sexes
1  Afghanistan  2019       63.2
2  Afghanistan  2015       61.7

In [21]:
exp_df['Year'] = exp_df['Year'].astype(int)

exp_df = exp_df[exp_df['Year']==2019]

exp_df.columns = [col.lower() for col in exp_df.columns]

exp_df.rename({'both sexes': 'life_expectancy'}, axis=1, inplace=True)

In [26]:
exp_df.head(2)

       country  year life_expectancy
1  Afghanistan  2019            63.2
5      Albania  2019            78.0

In [27]:
exp_df.to_csv('../../data/intermediate/life_expectancy.csv', index=None)