In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [14]:
age_df = pd.read_excel('../../data/input/median_age.xlsx')

In [15]:
age_df.columns

Index(['Index', 'Variant', 'Region, subregion, country or area *', 'Notes',
       'Country code', 'Type', 'Parent code', '1950', '1955', '1960', '1965',
       '1970', '1975', '1980', '1985', '1990', '1995', '2000', '2005', '2010',
       '2015', '2020'],
      dtype='object')

In [16]:
age_df.head()

,Index,Variant,"Region, subregion, country or area *",Notes,Country code,Type,Parent code,1950,1955,1960,1965,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
0,1,Estimates,WORLD,NaN,900,World,0,23.56936,23.106048,22.647776,21.963829,21.511498,21.869128,22.585277,23.307065,24.045973,25.139513,26.335661,27.417172,28.476663,29.591846,30.903958
1,2,Estimates,UN development groups,a,1803,Label/Separator,900,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,3,Estimates,More developed regions,b,901,Development Group,1803,28.489103,28.97032,29.526788,29.872883,30.571881,30.921712,31.894503,33.064865,34.361243,35.7717,37.285229,38.675822,39.854854,40.971891,41.993498
3,4,Estimates,Less developed regions,c,902,Development Group,1803,21.423731,20.650562,19.987384,19.153119,18.841958,19.280559,19.948303,20.849691,21.760327,22.93022,24.106313,25.162743,26.408653,27.726705,29.041936
4,5,Estimates,Least developed countries,d,941,Development Group,902,19.296039,19.077962,18.746827,18.290355,17.894366,17.687461,17.526491,17.449792,17.561416,17.880757,18.184558,18.590063,18.976184,19.52421,20.291064

In [19]:
age_df['Type'].value_counts()

Country/Area         201
Subregion             20
SDG region             8
Income Group           6
Region                 6
Development Group      5
Label/Separator        4
Special other          2
SDG subregion          2
World                  1
Name: Type, dtype: int64

In [23]:
age_df = age_df[age_df['Type']=='Country/Area']
age_df.rename({'Region, subregion, country or area *': 'country'}, axis=1, inplace=True)

In [24]:
age_df.head(2)

,Index,Variant,country,Notes,Country code,Type,Parent code,1950,1955,1960,1965,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
26,27,Estimates,Burundi,NaN,108,Country/Area,910,19.499,18.874,18.26,17.558,17.087,17.047,17.437,16.909,16.109,14.888,14.976,16.176,17.034,17.148,17.32
27,28,Estimates,Comoros,NaN,174,Country/Area,910,21.166,20.565,19.638,18.532,17.703,17.537,17.452,17.181,16.976,17.148,17.695,18.42,19.122,19.707,20.37

In [27]:
age_df['distance_to_30_years'] = age_df['2020'].map(lambda z: abs(float(z)-30))

In [29]:
age_df[['country', 'distance_to_30_years']].to_csv('../../data/intermediate/median_age_short.csv', index=None)