In [2]:
import pandas as pd

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [51]:
df = pd.read_csv('../data/result/mega_table.csv')

In [52]:
df.head(2)

,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,country,gdp_ppp,homicide_rate,suicide_rate
0,188.36,102.77,78.38,74.08,125.02,8.18,28.67,19.86,80.05,Switzerland,78111.508,0.6,9.8
1,186.25,86.43,73.78,79.79,88.53,7.00,28.69,21.29,81.80,Denmark,63404.856,1.0,7.6

In [53]:
numbeo_src_cols = [col for col in df.columns if ' ' in col]
numbeo_cols = [col.lower().replace(' ', '_') for col in numbeo_src_cols]
numbeo_cols = [col.replace('index', 'numbeo') for col in numbeo_cols]
numbeo_cols = [col.replace('ratio', 'numbeo') for col in numbeo_cols]

In [54]:
rename_dct = {}
for feature in zip(numbeo_src_cols, numbeo_cols):
    rename_dct[feature[0]] = feature[1]

In [55]:
df.rename(rename_dct, axis=1, inplace=True)

In [56]:
df.head(2)

,quality_of_life_numbeo,purchasing_power_numbeo,safety_numbeo,health_care_numbeo,cost_of_living_numbeo,property_price_to_income_numbeo,traffic_commute_time_numbeo,pollution_numbeo,climate_numbeo,country,gdp_ppp,homicide_rate,suicide_rate
0,188.36,102.77,78.38,74.08,125.02,8.18,28.67,19.86,80.05,Switzerland,78111.508,0.6,9.8
1,186.25,86.43,73.78,79.79,88.53,7.00,28.69,21.29,81.80,Denmark,63404.856,1.0,7.6

In [57]:
df.to_csv('../data/result/mega_table.csv', index=None)

In [58]:
rename_dct

{'Quality of Life Index': 'quality_of_life_numbeo',
 'Purchasing Power Index': 'purchasing_power_numbeo',
 'Safety Index': 'safety_numbeo',
 'Health Care Index': 'health_care_numbeo',
 'Cost of Living Index': 'cost_of_living_numbeo',
 'Property Price to Income Ratio': 'property_price_to_income_numbeo',
 'Traffic Commute Time Index': 'traffic_commute_time_numbeo',
 'Pollution Index': 'pollution_numbeo',
 'Climate Index': 'climate_numbeo'}