In [21]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

pd.options.display.max_columns=500
pd.options.display.max_rows=500
pd.options.display.max_colwidth=500

In [22]:
sui_df = pd.read_csv('../../data/input/suicide_rate.csv')

In [23]:
sui_df.columns

Index(['Unnamed: 0', 'Unnamed: 1',
       'Age-standardized suicide rates (per 100 000 population)',
       'Age-standardized suicide rates (per 100 000 population).1',
       'Age-standardized suicide rates (per 100 000 population).2',
       'Age-standardized suicide rates (per 100 000 population).3',
       'Age-standardized suicide rates (per 100 000 population).4',
       'Age-standardized suicide rates (per 100 000 population).5',
       'Age-standardized suicide rates (per 100 000 population).6',
       'Age-standardized suicide rates (per 100 000 population).7',
       'Age-standardized suicide rates (per 100 000 population).8',
       'Age-standardized suicide rates (per 100 000 population).9',
       'Age-standardized suicide rates (per 100 000 population).10',
       'Age-standardized suicide rates (per 100 000 population).11',
       'Age-standardized suicide rates (per 100 000 population).12',
       'Age-standardized suicide rates (per 100 000 population).13',
       'Age-standardized suicide rates (per 100 000 population).14',
       'Age-standardized suicide rates (per 100 000 population).15',
       'Age-standardized suicide rates (per 100 000 population).16',
       'Age-standardized suicide rates (per 100 000 population).17',
       'Age-standardized suicide rates (per 100 000 population).18',
       'Age-standardized suicide rates (per 100 000 population).19'],
      dtype='object')

In [24]:
sui_df.head(2)

,Unnamed: 0,Unnamed: 1,Age-standardized suicide rates (per 100 000 population),Age-standardized suicide rates (per 100 000 population).1,Age-standardized suicide rates (per 100 000 population).2,Age-standardized suicide rates (per 100 000 population).3,Age-standardized suicide rates (per 100 000 population).4,Age-standardized suicide rates (per 100 000 population).5,Age-standardized suicide rates (per 100 000 population).6,Age-standardized suicide rates (per 100 000 population).7,Age-standardized suicide rates (per 100 000 population).8,Age-standardized suicide rates (per 100 000 population).9,Age-standardized suicide rates (per 100 000 population).10,Age-standardized suicide rates (per 100 000 population).11,Age-standardized suicide rates (per 100 000 population).12,Age-standardized suicide rates (per 100 000 population).13,Age-standardized suicide rates (per 100 000 population).14,Age-standardized suicide rates (per 100 000 population).15,Age-standardized suicide rates (per 100 000 population).16,Age-standardized suicide rates (per 100 000 population).17,Age-standardized suicide rates (per 100 000 population).18,Age-standardized suicide rates (per 100 000 population).19
0,Country,Sex,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
1,Afghanistan,Both sexes,6.0 [3.4-9.9],5.9 [3.4-9.8],6.0 [3.4-9.9],6.0 [3.5-9.9],6.0 [3.5-9.9],6.0 [3.5-9.9],6.2 [3.6-10.2],6.2 [3.6-10.2],6.4 [3.8-10.5],6.7 [3.9-10.9],6.8 [4.0-11.1],7.2 [4.2-11.7],7.4 [4.3-12.1],7.6 [4.4-12.3],7.6 [4.4-12.3],7.8 [4.5-12.6],7.7 [4.5-12.5],7.9 [4.5-12.8],7.9 [4.5-12.8],7.7 [4.4-12.5]

In [25]:
sui_df.columns = sui_df.iloc[0]
sui_df = sui_df.iloc[1:]

In [26]:
sui_df.head(2)

,Country,Sex,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
1,Afghanistan,Both sexes,6.0 [3.4-9.9],5.9 [3.4-9.8],6.0 [3.4-9.9],6.0 [3.5-9.9],6.0 [3.5-9.9],6.0 [3.5-9.9],6.2 [3.6-10.2],6.2 [3.6-10.2],6.4 [3.8-10.5],6.7 [3.9-10.9],6.8 [4.0-11.1],7.2 [4.2-11.7],7.4 [4.3-12.1],7.6 [4.4-12.3],7.6 [4.4-12.3],7.8 [4.5-12.6],7.7 [4.5-12.5],7.9 [4.5-12.8],7.9 [4.5-12.8],7.7 [4.4-12.5]
2,Afghanistan,Male,6.2 [3.5-10.5],6.2 [3.5-10.4],6.3 [3.7-10.7],6.2 [3.6-10.3],6.1 [3.6-10.2],6.1 [3.6-10.2],6.3 [3.7-10.5],6.4 [3.7-10.5],6.6 [3.8-10.9],6.9 [4.0-11.3],7.0 [4.1-11.6],7.4 [4.3-12.2],7.7 [4.5-12.6],7.8 [4.5-12.7],7.8 [4.5-12.7],7.9 [4.5-12.9],7.8 [4.5-12.8],8.0 [4.6-13.1],7.9 [4.5-12.9],7.6 [4.4-12.5]

In [27]:
sui_df['Sex'].unique()

array(['Both sexes', 'Male', 'Female'], dtype=object)

In [28]:
sui_df = sui_df[sui_df['Sex']=='Both sexes']

In [29]:
def exclude_interval(complex_val):
    return complex_val.split(' ')[0]

for year_col in range(2000, 2020):
    sui_df[str(year_col)] = sui_df[str(year_col)].map(lambda z: exclude_interval(z)).astype(float)

In [34]:
sui_df['drop'] = sui_df['2019'] - sui_df['2000']

sui_df[['Country', 'drop']].sort_values(by='drop').head()

0               Country  drop
406  Russian Federation -27.3
64             Botswana -26.1
289           Lithuania -25.6
256          Kazakhstan -21.3
43              Belarus -20.8

In [35]:
sui_df.rename({'Country': 'country'}, axis=1, inplace=True)

In [39]:
sui_df[['country', '2019']].sort_values(by='2019', ascending=False).head()

0                             country  2019
280                           Lesotho  87.5
211                            Guyana  40.9
166                          Eswatini  40.5
262                          Kiribati  30.6
322  Micronesia (Federated States of)  29.0

In [40]:
ll ../../data/intermediate

total 20
drwxrwxr-x 2 saiko 4096 янв 14 16:44 gdp_per_cap_ppp/
-rw-rw-r-- 1 saiko 4468 янв 14 16:44 homi_short.csv
-rw-rw-r-- 1 saiko 5460 янв 14 16:44 numbeo.csv

In [41]:
sui_df[['country', 'drop', '2019']].to_csv('../../data/intermediate/sui_short', index=None)